nav{
    font: 1.5em arial;
    font-size: 30px; 
    text-align: right;
    max-height: 700px;
    margin-top: 60px;
}

h1{
    font: 1.5em arial;
    font-size: 40px; 
    color: black; 
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 20px;
}

div{
    text-align: center;
    margin-top: 5px;
}

p{
    font: 1.5em arial;
    font-size: 25px; 
    text-align: center; 
    margin-top: 5px; 
    margin-left: 5px;
    padding: 50px; 
}

p2{
    font: 1.5em arial;
    font-size: 28px; 
    text-align: left; 
    margin-top: 5px; 
    margin-left: 5px;
    padding: 50px; 
}

p3{
    font: 1.5em arial;
    font-size: 28px; 
    text-align: left; 
    margin-top: 5px; 
    margin-left: 5px;
    padding: 50px; 
}

h2{
    font: 1.5em arial;
    font-size: 30px;
    text-align: center;
    margin: 0px;  
}

ul{
    display: block;
    columns: 2;
    column-width: auto;
    column-count: 2;
    column-gap: 100px;
    font: 1.5em arial;
    font-size: 25px;
    text-align: left; 
    margin-left: 50px;
    padding: 10px; 
}

li{
    font: 1.5em arial;
    font-size: 25px;
    text-align: left; 
    margin-left: 50px;
    padding: 10px; 
}


