body{
    background-image: url('Asul.jpg');
    font-family: "Rubik", sans-serif;
    color: white;
}

nav{
    font: 1.5em arial;
    font-size: 30px; 
    text-align: right;
    max-height: 700px;
    margin-top: 60px;
}

a{
    font-family: "Share Tech Mono", sans-serif;
}

h1{
    font-size: 40px; 
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: -200px;
}

div{
    text-align: left;
    margin-top: 1px;
    padding: 140px;
}

p{
    font-size: 23px; 
    text-align: left; 
    margin-top: -410px; 
    margin-left: 460px;
    padding: 30px; 
}


h2{
    font-size: 30px;
    text-align: left;
    margin-left: 50px;  
}

ul{
    display: block;
    columns: 1;
    column-width: 2px;
    column-count: 1;
    column-gap: 100px;
    font: 1.5em arial;
    font-size: 25px;
    text-align: left; 
    margin-left: 40px;
    padding: 10px; 
}

li{
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    text-align: left; 
    margin-left: 50px;
    padding: 10px; 
}

h3{
    font-size: 25px; 
    text-align: left; 
    margin-left: 100px;
}

div2{
    text-align: center;
    margin-top: 5px;
}

div3{
    text-align: center;
    margin-top: 5px;
}

p4{
    font-size: 28px; 
    text-align: left; 
    margin-top: 5px; 
    margin-left: 5px;
    padding: 50px; 
}




