body{
    background-image: url('Asul.jpg');
    font-family: "Rubik", sans-serif;
    color: white;
}

nav{
    font: 1.5em arial;
    font-size: 30px; 
    text-align: right;
    max-height: 700px;
    margin-top: 60px;
}

a{
    font-family: "Share Tech Mono", sans-serif;
}

h1{
    font-size: 40px; 
    text-align: center; 
    margin-top: 20px;
}

div{
    text-align: left;
    margin-top: 1px;
    padding: 100px;
}

p{
    font-size: 23px; 
    text-align: left; 
    margin-top: -420px;
    margin-left: 460px;
    padding: 30px; 
}


img{
     text-align: left;
     margin-top: -150px; 
}

h2{
    font-size: 30px;
    text-align: left;
    margin-left: 50px;  
}

.skills {
    column-count: 2;
    padding: 10px;
}

.hard {
    margin-top: 12px;
}

ul{
    display: block;
    columns: 1;
    column-width: 2px;
    column-count: 1;
    column-gap: 100px;
    font: 1.5em arial;
    font-size: 25px;
    text-align: left; 
    margin-left: 40px;
    padding: 10px; 
}

li{
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    text-align: left; 
    margin-left: 50px;
    padding: 10px; 
}

h3{
    font-size: 25px; 
    text-align: left; 
    margin-left: 100px;
}

p1{
    font-size: 23px;
    display: block;
    margin-top: -15px;
    padding: 50px;
}



