body{
    background-image: url('Asul.jpg');
}

nav{
    font: 1.5em arial;
    font-size: 30px; 
    text-align: right;
    max-height: 700px;
    margin-top: 60px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: left;
}

h2{
    font-family: 'Monserrat', sans-serif;
    font-size: 25px;
     text-align: left;
}

li{
    font-family: 'Monserrat', sans-serif;
    font-size: 25px;
    text-align: left;
}

p{
    font-family: 'Monserrat', sans-serif;
    font-size: 25px;
    text-align: left;
}