nav{
    font: 1.5em arial;
    font-size: 30px; 
    text-align: right;
    max-height: 700px;
    margin-top: 60px;
}

a{
    font: 1.5em arial;
    font-size: 20px;
    text-decoration: none; 
}

p{
    font: 1.5em arial;
    font-size: 25px;
    text-align: center;
    margin: 0px; 
}

h1{
    font: 1.5em arial;
    font-size: 40px; 
    text-align: center; 
    color: black; 
    margin-top: 20px; 
    margin-bottom: 20px;
}

h2{
    font: 1.5em arial;
    font-size: 30px;
    text-align: center; 
    margin: 0px; 
}

h3{
    font: 1.5em arial;
    font-size: 30px;
    text-align: center; 
    margin: 0px; 
}

div{
    text-align: justify; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    
}

form{
    font: 1.5em arial;
    padding: 60px; 
    width: 200px; 
    height: 200px; 
    background-color: blueviolet;
}

