.Intro {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body{	
	background-image: url('Blued.jpg');
	background-size: cover;
	background-attachment: fixed; 
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div{
	text-align: left; 
	margin-top: 100px; 
	max-height: 700px;
}

.Menu{
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

nav{
	text-align: right;
	font-size: 10px;
}

a{
	color: white; 
	font-size: 30px;
	text-align: right; 
	text-decoration: none; 
}

.Welcome{
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

h1{
	font-size: 45px; 
	color: white; 
	text-align: left; 
	margin-top: 20px; 
	margin-bottom: 10px; 
	margin-left: 100px;
}

.Aspiring{
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

h2{
	font-size: 40px; 
	color: white; 
	text-align: left; 
	margin-top: -20px; 
	margin-left: 100px;
}

.Neuro {
  font-family: "Share Tech Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

h3{
	font-size: 20px; 
	color: white; 
	text-align: left; 
	margin-top: -30px; 
	margin-left: 100px;
}
