body{	
	background-image: url('Blued.jpg');
	background-size: cover;
	background-attachment: fixed; 
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div{
	text-align: left; 
	margin-top: 100px; 
	max-height: 700px;
}

nav{
	text-align: right;
}

a{
	color: white; 
	font-size: 30px;
	text-align: right; 
	text-decoration: none; 
}

h1{
	font-size: 40px; 
	color: white; 
	text-align: left; 
	margin-top: 20px; 
	margin-bottom: 10px; 
	margin-left: 200px;
}

h2{
	font-size: 30px; 
	color: white; 
	text-align: left; 
	margin-top: 5px; 
	margin-left: 200px;
}

h3{
	font-size: 20px; 
	color: white; 
	text-align: left; 
	margin-top: 20px; 
	margin-left: 200px;
}
