body{
    background-image: url('Bughaw.jpg');
    font-family: "Rubik", sans-serif;
    color: white;
    margin-left: 40px;
}

nav{
    font: 1.5em arial;
    font-size: 30px; 
    text-align: right;
    max-height: 700px;
    margin-top: 60px;
}

a{
    font-family: "Share Tech Mono", sans-serif;
}

div.three-d{
    display: flex;
    gap: 20px;
    align-items: center;
}

div.two-d{
    display: flex;
    gap: 20px;
    align-items: center;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
}

h2{
    font-family: 'Monserrat', sans-serif;
    font-size: 25px;
    text-align: center;
}

p{
    font-family: 'Monserrat', sans-serif;
    font-size: 25px;
    text-align: center;
}

.arduino{
    text-align: center;
}

.frame{
    text-align: center;
}

.sciencevid{
    text-align: center;
}

.pubmats{
    text-align: center;
}

.infograph{
    text-align: center;
}

.nav2{
    text-align: center;
    font-family: "Share Tech Mono", sans-serif;
    font-size: 25px;
    padding: 50px;
    margin-top: 20px;
}

