h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
}

p{
    font-family: 'Open sans', sans-serif;
    font-size: 25px;
    text-align: left;
}

p2{
    font-family: 'Monserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}


div{
    text-align: center;
}