body{
    background-image: url('Bughaw.jpg');
}

nav{
    font: 1.5em arial;
    font-size: 30px; 
    text-align: right;
    max-height: 700px;
    margin-top: 60px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
}

h2{
    font-family: 'Monserrat', sans-serif;
    font-size: 25px;
    text-align: center;
}

p{
    font-family: 'Monserrat', sans-serif;
    font-size: 25px;
    text-align: center;
}

